.button {
  display: block;
  padding: 1rem;
  text-decoration: none;

  border: 1px solid rgba(darken($brand-color, 50%), .1);

  &:hover {
    color: $muted-text-color;
    background: $text-color;

    -webkit-transition: background-color 0.25s linear;
    -ms-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
  }
}
