---
const currentPath = new URL(Astro.request.url).pathname;

const links: { href: string; text: string }[] = [
  { href: '/', text: 'Home' },
  { href: '/about', text: 'About' },
  { href: '/faculty', text: 'Faculty' },
  { href: '/contacts', text: 'Contacts' },
];

function isActive(href: string) {
  return href === currentPath;
}

function getClass(href: string) {
  if (isActive(href)) {
    return 'active';
  }
  return '';
}
---

<menu role='navigation'>
  {
    links.map(({ href, text }) => (
      <li>
        <a class={getClass(href)} href={href}>
          {text}
        </a>
      </li>
    ))
  }
</menu>

<style>
  menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 2em;
    font-variant: small-caps;
    font-size: 0.875em;
    letter-spacing: -0.05em;
  }

  menu a {
    text-decoration: none;
    color: #000;
  }

  menu a.active,
  menu a:hover {
    text-decoration: underline;
  }
</style>
