---
import type { MarkdownLayoutProps } from 'astro';
import Head from '../components/Head.astro';

type Props = MarkdownLayoutProps<{
  title?: string;
  subtitle?: string;
}>;

const { frontmatter } = Astro.props;
const { title, subtitle } = frontmatter;
---

<!doctype html>
<html lang='en'>
  <Head title={title} redirect />
  <body></body>
</html>
