---
import type { MarkdownLayoutProps } from 'astro';
import Head from '../components/Head.astro';
import Player from '../components/Player.astro';

type Props = MarkdownLayoutProps<{
  title?: string;
  subtitle?: string;
}>;

const { frontmatter } = Astro.props;
const { title } = frontmatter;
---

<!doctype html>
<html lang='en'>
  <Head title={title} />
  <body>
    <main>
      <hgroup>
        <img src="images/univercity-closed.jpg" alt="University is closed" />
        <h1>Izkustanford University</h1>
        <h2>The project is closed</h2>
        <h2>2020 — 2025</h2>
        <slot />
        <Player />
      </hgroup>
    </main>
    <style>
      body {
        background-color: #403A37;
      }
      hgroup {
        min-height: 90vh;
        max-width: 90vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      img {
        min-height: 20rem;
        height: 100%;
        max-height: 50vh;
        aspect-ratio: 1/1;
      }
      h1 {
        margin: -10vh 0 0.2em 0;
        line-height: 0.7;
        word-break: normal;
        color: #e1ca63;
        text-shadow:
          0 0 1px #403a37,
          0 0 2px #403a37,
          0 0 3px #403a37,
          0 0 4px #403a37,
          0 0 5px #403a37,
          0 0 6px #403a37;
      }
      h2 {
        margin: 0;
        word-break: normal;
      }

      h1 {
        font-size: 3em;
      }
      h2 {
        font-size: 2em;
      }

      @media screen and (min-width: 480px) {
        h1 {
          font-size: 4em;
        }
        h2 {
          font-size: 2.5em;
        }
      }

      @media screen and (min-width: 1200px) {
        h1 {
          font-size: 6em;
        }
        h2 {
          font-size: 3em;
        }
      }
    </style>
  </body>
</html>
